
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
h1 { color: #686767; font-family: 'Raleway',sans-serif; font-size: 62px; font-weight: 800; line-height: 72px; margin: 0 0 24px; text-align: center; }
body, html {
  height: 100%;
  color: rgb(0, 0, 0);
  line-height: 1.8;
  background-image: ("https://images.pexels.com/photos/691668/pexels-photo-691668.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");;
}
.topnav {
  background-color: rgb(0, 0, 0);
}
.topnav a {
  float: right;
  color: #000000;
  padding: 14px 16px;
  text-decoration: none;  
  font-size: 17px;
}
@media (max-width: 600px) {
  .topnav {
    flex-direction: column;
    background: white !important;
    color: black;
  }
  .topnav a {
    float: none;
    display: block;
    text-align: left;
    color: black !important;
  }
}
.container {
 background-color: rgba(255, 255, 255, .15);  
 backdrop-filter: blur(10px);
 border-radius: 20px;
}
.logo {
  font-family: "Lato", sans-serif;
  text-align: center;
  font-size: 50px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}
.allposts {
  /* display: flex; */
  /* width: 100%; */
  /* flex-wrap: wrap; */
  /* justify-content: space-around; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.card {
  width: 300px;
  backdrop-filter: blur(10px);
  box-shadow: 2px 2px 2px 2px rgba(30, 0, 255, 0.1);
  border-radius: 20px;
  margin: 10px;
  display: flex;
  flex-direction: column;

}

img {
  width: 100% !important;
  height: 300px !important;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.posttitle {
  text-align: center;
  margin-bottom: 0;
}

.article {
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;

}

.author {
  padding-inline: 20px;
  text-align: end;
  font-weight: 500;
  font-size: 14px;
  color: #5c5c5c;
}
img {
align-self: center;
height: 400px;
width: 350px;
}
.hreftag  a {
  align-self: flex-end;
  /* border-top: 1px solid var(--grey); */
  background-color: #2755f9;
  color: white;
  letter-spacing: 0.05rem;
  font-size: 12px;
  text-transform: uppercase;
  display: block;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  cursor: pointer;
}

.hreftag  a {
  align-self: flex-end;
  /* border-top: 1px solid var(--grey); */
  background-color: #2755f9;
  color: white;
  letter-spacing: 0.05rem;
  font-size: 12px;
  text-transform: uppercase;
  display: block;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  cursor: pointer;
}

